header {
    background-color: black;
    padding: 20px 0;
}

nav {
    position: absolute;
    right: 0;
    display: flex;
    padding: 0 1vw;
   
    
    

}

nav li {
    color: white;
    font-size: 22px;
    display: inline-flex;
    margin: 0 0 0 15px;
    color: gold;
    
   
    
    
    
    
    
}

