body {
    width: 100%;

    background-image: url(imagens/BackgroundContato.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.icones_superior {
    display: flex;
    justify-content: center;
}

.icones_superior img {
    width: 109px;
    transition: 1.5s;
}

.icones_superior img:hover {
    width: 150px;
    transition: 1.5s;
}

.email {
    margin-top: 50px;
    text-align: center;
    font-size: 40pt;
    color: white;
}

.email p {
    font-size: 25pt;
    color: gold;
}

#horario {
    margin-top: 35px;
    text-align: center;
    font-size: 40pt;
    color: white;
}

.imagem-voltar{
    display: flex;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 915px;
    }

}

@media (max-width: 380px) {
    body {
        width: 100%;
    }
}

@media (max-width: 920px) {
    body {
        width: 100%;
        height: 1368px;
    }
}