body {
    width: 100%;
    
    background-image: url(imagens/BackgroundContato.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.icones_superior {
    display: flex;
    justify-content: center;
}

.icones_superior img {
    width: 109px;
    transition: 1.5s;
}

.icones_superior img:hover {
    width: 150px;
    transition: 1.5s;
}

.email{
    margin-top:  50px;
    text-align: center;
    font-size: 40pt;
    color: white;
}

.email p {
    font-size: 25pt;
    color: gold;
}

#horario {
    margin-top: 35px;
    text-align: center;
    font-size: 30pt;
    color: white;
}

.imagem-voltar {
 position: relative;
 left: 280px;
 bottom: 80px;
    
    
}

